<div id = "container">
  <input
    id = "search"
    type="text"
    placeholder="What are you looking for ?"
    autofocus
    autocomplete="off"
    [(ngModel)] = "request"
    (ngModelChange) = "search()"
  />

  <ul id="result" *ngIf = "matches.length" >
    <li *ngFor = "let match of matches" class="match">
      <!-- <a href="#">{{ match.value.title }} score: {{ match.score }}</a> -->
      <a href="#" class="match__highlight">
        <span 
          *ngFor = "let highlight of match.highlights"
          
          [class.match__highlight--on]="highlight.isMatch"
          >
            {{ highlight.value }}
        </span>
      </a>
    </li>
    
  </ul>
</div>